
<div class="container">
    <h1>ברוכים הבאים לעיריית ראש העין</h1>
    <img src="/assets/Coat_of_arms_of_Rosh_HaAyin.svg.png" alt="aaa" width="100px" height="auto">
    <br>
    <span>רֹאשׁ הָעַיִן היא עיר במחוז המרכז בישראל. העיר שוכנת במרזבה המזרחית של השרון, למול הרי השומרון. ראש העין נקראת על שם מיקומה במוצא נחל הירקון (ראס-ראש, (מקור), עין- מזרקה, מעיין). ראש העין הוכרזה כעיר בשנת 1994, היא משתרעת על פני שטח של כ-16,000 דונם. שכונותיה המזרחיות של ראש העין גובלות בקו הירוק והעיר מהווה גבול בין מחוז המרכז למחוז יהודה ושומרון. בראשות העיר עומד תא"ל במיל' שלום בן משה.
  
      ראש העין היא אחת הערים שצומחות בקצב הכי מהיר בישראל, נכון לשנת 2022 אוכלוסייתה עומדת על 72,600 תושבים וקצב הגידול השנתי הוא 6%.
    </span>
    <br><br><br>
  
    
    <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/residents">תושבים</button><br><br>
    <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/employees">עובדי - עירייה</button><br><br>
    <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/events">אירועים</button><br><br>
    <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/business">עסקים</button>
  </div>
